.topbar {
  height: 60px;
  grid-area: 1 / 1 / 2 / 4;
  background-color: rgb(219, 76, 62);
  border-bottom: 1px #eee solid;
  .tbwrapper {
    display: grid;
    grid-template: 1fr/1fr 960px 1fr;
    height: 60px;
    .topmid {
      display: grid;
      grid-template: 1fr/280px 680px;
      height: 60px;
      .toplogo{
      display: flex;
      .tlogo{
        align-self: center;
        width: 120px;
        height: 40px;
        background-image: url(../../img/toplogo.jpg);
        margin: 0 0 0 10px;
      }
    }
      .topbtn{
        @media screen and (max-width: 960px) {
          display: none;
        }
        .addlinkbar{
        color:white;
          display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
          width: 100%;
          height: 100%;
          align-items: center;
          justify-items: start;
          select{
           width: 120px;
           border: 1px white solid;
           background-color: rgb(219, 76, 62);
           color: white;
           height: 20px;

          }
          input{

             width: 200px;
             border: 1px white solid;
             background-color: rgb(219, 76, 62);
             color: white;
             border-radius: 20px;
             height: 16px;
             padding: 0 0 2px 10px;

          }
          button{

            border: 1px white solid;
            background-color: rgb(219, 76, 62);
            color: white;
            border-radius: 20px;
            height: 21px;
          }

        }
        .addlinkbar *{
          margin:0 0 0 10px
        }


      }
      .smenubtn{
        display: none;
        @media screen and (max-width: 960px) {
          display: block;
          color:white;
          position: absolute;
          font-size: 2rem;
          right:20px;
          top:10px

        }
      }


    }
  }
  .tbwrapper * {
    //border: 1px grey solid;

  }
}
