.sidebar {
  background-image: url(../../img/sidebg.jpg);
  border-right: 1px #eee solid; }
  @media screen and (max-width: 960px) {
    .sidebar {
      display: none; } }
  .sidebar .sidebtnwraper {
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    .sidebar .sidebtnwraper .sbbtn {
      color: #5c5c5c;
      display: flex;
      align-items: center;
      padding: 0 0 0 20px;
      margin: 5px auto 0 0;
      height: 40px;
      width: 250px;
      cursor: pointer; }
      .sidebar .sidebtnwraper .sbbtn .btnlogo {
        margin: 0 5px 0 0; }
      .sidebar .sidebtnwraper .sbbtn .btnlogocat {
        margin: 0 5px 0 18px; }
    .sidebar .sidebtnwraper .sbbtn:hover {
      color: red;
      background-color: white; }
    .sidebar .sidebtnwraper .sbdivider {
      margin: 20px 0 5px 0;
      display: grid;
      grid-template: 19px 1px/1fr 2fr;
      width: 90%;
      height: 20px; }
      .sidebar .sidebtnwraper .sbdivider .sbdvtitle {
        font-size: 0.8rem;
        text-align: center; }
      .sidebar .sidebtnwraper .sbdivider .sbdva {
        background-color: #ccc; }
      .sidebar .sidebtnwraper .sbdivider .sbdvb {
        background-color: #eee; }
